In [1]:
import pandas as pd
import os

In [2]:
banks = ['Bankwell Bank', 'Chelsea Gronto Bank', 'Dime Bank', 'Essex Savings Bank',
         'Fairfield County Bank', 'First Bank of Greenwich', 'First County Bank',
         'Guilford Savings Bank', 'Ion Bank', 'Jewett City Savings Bank', 'Liberty Bank',
         'Milford Bank', 'Newtown Savings Bank', 'Northwest Community Bank',
         'Savings Bank of Danbury', 'Stafford Savings Bank', 'Thomaston Savings Bank',
         'Torrington Savings Bank', 'Union Savings Bank', 'M&T Bank', 'Citizens Bank',
         'Fifth Third Bank','First Horizon Bank','Webster Bank']

In [3]:
bank_ids = {bank: i+1 for i, bank in enumerate(banks)}

In [4]:
def get_bank_id(bank_name):
    return bank_ids.get(bank_name, None)

In [5]:
bank_name_example = 'Webster Bank'
print(f"Bank ID for '{bank_name_example}':", get_bank_id(bank_name_example))

Bank ID for 'Webster Bank': 24

In [6]:
df1=pd.read_csv("data/facebook_reviews_full_25_04_24.csv")
df2=pd.read_csv('data/google_maps_reviews_full_25_04_24.csv')
df3=pd.read_csv('data/x_reviews_full_25_04_24.csv')
df4=pd.read_csv('data/yelp_reviews_full_25_04_24.csv')
df5=pd.read_csv('data/banks_news_reviews_full_25_04_24.csv')

In [7]:
df1["data_source"]="facebook"
df1["state"]="EEUU"
df2["data_source"]="maps"
df3["state"]="EEUU"
df4["state"]="EEUU"
df5["state"]="EEUU"
df3["data_source"]="x"
df4["data_source"]="yelp"
df5["data_source"]="news"

In [8]:
df1["Bank ID"]=df1['Bank Name'].apply(get_bank_id)
df2["Bank ID"]=df2['Bank Name'].apply(get_bank_id)
df3["Bank ID"]=df3['Bank Name'].apply(get_bank_id)
df4["Bank ID"]=df4['Bank Name'].apply(get_bank_id)
df5["Bank ID"]=df5['Bank Name'].apply(get_bank_id)

In [ ]:
import psycopg2

# Función para conectarse a la base de datos PostgreSQL y recuperar la lista de tablas
def obtener_tablas():
    try:
        # Conectar a la base de datos PostgreSQL
        connection = psycopg2.connect(
            host=os.getenv("host"),
            user=os.getenv("user"),
            password=os.getenv("password"),
            dbname="postgres"  # Reemplaza esto con el nombre de tu base de datos
        )
        cursor = connection.cursor()

        # Ejecutar la consulta para recuperar la lista de tablas
        cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'")
        tablas = cursor.fetchall()

        # Imprimir la lista de tablas
        print("Lista de tablas en la base de datos:")
        for tabla in tablas:
            print(tabla[0])

    except (Exception, psycopg2.Error) as error:
        print("Error al conectarse a PostgreSQL", error)

    finally:
        # Cerrar el cursor y la conexión
        if connection:
            cursor.close()
            connection.close()
            print("La conexión a PostgreSQL se ha cerrado")

# Llamar a la función para obtener la lista de tablas
obtener_tablas()

In [ ]:
import psycopg2

def crear_tablas():
    commands = [
        """
        CREATE TABLE IF NOT EXISTS Banks (
            BankID SERIAL PRIMARY KEY,
            BankName TEXT NOT NULL UNIQUE
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS Authors (
            AuthorID TEXT PRIMARY KEY,
            AuthorTitle TEXT,
            AuthorLocation TEXT,
            AuthorFriendCount INT,
            AuthorPhotoCount INT,
            AuthorReviewsCount INT,
            AuthorImage TEXT,
            AuthorURL TEXT
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS Reviews (
            ReviewID SERIAL PRIMARY KEY,
            AuthorID TEXT,
            BankID INT,
            ReviewText TEXT,
            ReviewRating INT,
            ReviewDatetimeUTC TIMESTAMP,
            PageName TEXT,
            DataSource TEXT,
            FOREIGN KEY (AuthorID) REFERENCES Authors(AuthorID),
            FOREIGN KEY (BankID) REFERENCES Banks(BankID)
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS FacebookReviews (
            ReviewID INT PRIMARY KEY,
            AuthorRecommends BOOLEAN,
            FOREIGN KEY (ReviewID) REFERENCES Reviews(ReviewID)
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS GoogleMapsReviews (
            ReviewID INT PRIMARY KEY,
            DateTime TEXT,
            FOREIGN KEY (ReviewID) REFERENCES Reviews(ReviewID)
        );
        """
        # Añadir aquí los comandos para crear otras tablas específicas de las revisiones según sea necesario.
    ]
    try:
        connection = psycopg2.connect(
            host="communityssindex.cluster-chyie3jw9vqv.us-east-1.rds.amazonaws.com",
            user="ComSSINDEX",
            password="p!V+S<uf{-5zSM+gIJU5vmjo]?HI",
            dbname="postgres"
        )
        cursor = connection.cursor()
        
        # Crear cada tabla
        for command in commands:
            cursor.execute(command)
        
        # Confirmar la transacción
        connection.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if connection is not None:
            connection.close()

crear_tablas()

In [ ]:
def insertar_reviews():
    try:
        connection = psycopg2.connect(
            host=os.getenv("host"),
            user=os.getenv("user"),
            password=os.getenv("password"),
    dbname="postgres"  # Reemplaza esto con el nombre de tu base de datos
        )
        cursor = connection.cursor()

        # Insertar revisiones de Facebook
        insert_reviews_facebook = """
        INSERT INTO Reviews (AuthorID, BankID, ReviewText, ReviewDatetimeUTC, PageName, DataSource)
        SELECT 
            a.AuthorID, 
            b.BankID, 
            rf.review_text, 
            TO_TIMESTAMP(rf.review_datetime_utc, 'YYYY-MM-DD HH24:MI:SS'), -- Asegúrate de ajustar el formato según tus datos
            rf.page_name, 
            'Facebook'
        FROM 
            reviews_facebook rf
        JOIN 
            Authors a ON rf.author_id = a.AuthorID
        JOIN 
            Banks b ON rf."Bank Name" = b.BankName;
        """
        cursor.execute(insert_reviews_facebook)

        # Añadir aquí inserciones para otras fuentes como GoogleMapsReviews, etc.

        connection.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if connection is not None:
            connection.close()

insertar_reviews()

In [ ]:
import psycopg2
connection = psycopg2.connect(
            host=os.getenv("host"),
            user=os.getenv("user"),
            password=os.getenv("password"),
    dbname="postgres"  # Reemplaza esto con el nombre de tu base de datos
)
cursor = connection.cursor()
def obtener_detalles_columnas(tabla):
    try:
        # Suponiendo que `connection` ya está definida y abierta.
        cursor = connection.cursor()
        
        # Consulta para obtener los detalles de las columnas
        consulta_columnas = f"""
        CREATE TABLE Banks (
        BankID SERIAL PRIMARY KEY,
        BankName TEXT NOT NULL UNIQUE
        );

        """
        cursor.execute(consulta_columnas)
        columnas = cursor.fetchall()

        # Consulta para identificar la(s) clave(s) primaria(s)
        consulta_pk = f"""
        SELECT 
            a.attname
        FROM 
            pg_index i
        JOIN 
            pg_attribute a ON a.attrelid = i.indrelid
            AND a.attnum = ANY(i.indkey)
        WHERE 
            i.indrelid = '{tabla}'::regclass
            AND i.indisprimary;
        """
        cursor.execute(consulta_pk)
        pks = {pk[0] for pk in cursor.fetchall()}  # Usamos un set para facilitar la búsqueda.

        # Imprimir los detalles de las columnas
        print(f"Detalles de las columnas para la tabla {tabla}:")
        for columna in columnas:
            es_pk = "SÍ" if columna[0] in pks else "NO"
            print(f"Nombre: {columna[0]}, Tipo: {columna[1]}, ¿Nulo?: {columna[2]}, ¿PK?: {es_pk}")

    except (Exception, psycopg2.Error) as error:
        print("Error al obtener detalles de las columnas", error)

# Asegúrate de definir `connection` adecuadamente antes de llamar a esta función.
# Por ejemplo, después de imprimir las tablas en `obtener_tablas()`, puedes llamar a `obtener_detalles_columnas()` para cada tabla.

# Ejemplo de uso:
obtener_detalles_columnas('news_reviews')

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# Reemplaza estos con tus propios valores
DATABASE = 'postgres'
host=os.getenv("host")
user=os.getenv("user")
password=os.getenv("password")
PORT = '5432'

# Creando la conexión a la base de datos
engine = create_engine(f'postgresql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}')

In [ ]:
# Asumiendo que df1, df2, df3, df4 son tus DataFrames
# y que las tablas ya existen en la base de datos con los nombres 'reviews_facebook', 'reviews_google_maps', etc.
df1.to_sql('reviews_facebook', con=engine, if_exists='append', index=False)
df2.to_sql('reviews_google_maps', con=engine, if_exists='append', index=False)
df3.to_sql('x_reviews', con=engine, if_exists='append', index=False)
df4.to_sql('yelp_reviews', con=engine, if_exists='append', index=False)

In [ ]:
df5.to_sql('news_reviews', con=engine, if_exists='append', index=False)

### DATAFRAMES

In [9]:
pd.set_option('display.max_columns', None)

In [9]:
df1.head(1)

,query,page_url,page_name,page_rating,page_reviews_count,author_link,author_title,author_id,author_image,author_recommends,review_text,review_link,review_datetime_utc,review_timestamp,review_id,Bank Name,data_source,state,Bank ID
0,ChelseaGroton,https://www.facebook.com/ChelseaGroton,ChelseaGroton_reviews.csv,4.7,91.0,https://www.facebook.com/moses.ojekere.7,Moses Ojekere,pfbid03bQ9fQocj2Jz4MiXc6ncbhqt39P8s8yJ57Bywdvv...,https://scontent-lax3-1.xx.fbcdn.net/v/t39.308...,True,Mere words cannot express the deep felt gratit...,https://www.facebook.com/moses.ojekere.7/posts...,04/18/2024 19:32:14,1.713469e+09,UzpfSTEwMDA2NDgzNDY2MTUwNTo4Mjg1NjgyNDI2NDc2NT...,Chelsea Gronto Bank,facebook,EEUU,2

In [10]:
df2.head(1)

,datetime,author_title,review_text,review_rating,state,place_id,File Name,Bank Name,data_source,Bank ID
0,12/22/2023 18:58:51,Stacey Herrin,Citizens Bank is a great place for locals to d...,5,Alabama,ChIJjfChkWVAmogRqmADsZmeWzo,Citizens_reviews.csv,Citizens Bank,maps,21

In [11]:
df3.head(1)

,created_at,text,File Name,Bank Name,state,data_source,Bank ID
0,NaN,@WasabiWilliams @dhwanisaraiya_ Either this or...,"tweets_""Citizens Bank"" OR #CitizensBank.csv",Citizens Bank,EEUU,x,21

In [12]:
df4.head(1)

,query,review_id,page_name,Bank Name,business_name,review_rating,review_text,review_photos,review_tags,datetime_utc,...,author_id,author_url,owner_reply,owner_reply_title,owner_reply_datetime_utc,owner_reply_timestamp,next_page_cursor,state,data_source,Bank ID
0,https://www.yelp.com/biz/citizens-bank-cromwel...,__NO_REVIEWS_FOUND__,citizens-bank-cromwell-2_6.csv,Citizens Bank,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EEUU,yelp,21

In [13]:
df5.head(1)

,author,body,categories,industries,characters_count,clusters,entities,hashtags,id,keywords,...,summary,title,words_count,license_type,media,page_name,Bank Name,state,data_source,Bank ID
0,{'id': 3035481},"Nepal, April 24 -- Citizens Bank on Tuesday la...","[{'id': 'IAB13', 'label': 'Personal Finance', ...","[{'id': 'in.finserv', 'label': 'Financial Serv...",750,[582179607],"[{'id': 'Q5122694', 'links': {'wikipedia': 'ht...","['#CreditCard', '#CitizensFinancialGroup', '#T...",6727124368,"['Card', 'Nepal', 'customers', 'Credit', 'Digi...",...,"{'sentences': ['Nepal, April 24 -- Citizens Ba...",Citizens Bank launches Fonepay credit card,117,0,NaN,news_Citizens Bank.csv,Citizens Bank,EEUU,news,21

In [14]:
columnas = ["Review", "DS", "Bank Name", "data_source", "Bank ID","state"]

In [15]:
df1.rename(columns={"review_text": "Review", "review_datetime_utc": "DS"}, inplace=True)
df2.rename(columns={"review_text": "Review", "datetime": "DS"}, inplace=True)
df3.rename(columns={"text": "Review", "created_at": "DS"}, inplace=True)
df4.rename(columns={"review_text": "Review", "datetime_utc": "DS"}, inplace=True)
df5.rename(columns={"body": "Review", "published_at": "DS"}, inplace=True)

In [16]:
df1 = df1[columnas]
df1.head(1)

,Review,DS,Bank Name,data_source,Bank ID,state
0,Mere words cannot express the deep felt gratit...,04/18/2024 19:32:14,Chelsea Gronto Bank,facebook,2,EEUU

In [17]:
df2 = df2[columnas]
df2.head(1)

,Review,DS,Bank Name,data_source,Bank ID,state
0,Citizens Bank is a great place for locals to d...,12/22/2023 18:58:51,Citizens Bank,maps,21,Alabama

In [18]:
df3 = df3[columnas]
df3.head(1)

,Review,DS,Bank Name,data_source,Bank ID,state
0,@WasabiWilliams @dhwanisaraiya_ Either this or...,NaN,Citizens Bank,x,21,EEUU

In [19]:
df4 = df4[columnas]
df4.head(1)

  Review   DS      Bank Name data_source  Bank ID state
0    NaN  NaN  Citizens Bank        yelp       21  EEUU

In [20]:
df5 = df5[columnas]
df5.head(1)

,Review,DS,Bank Name,data_source,Bank ID,state
0,"Nepal, April 24 -- Citizens Bank on Tuesday la...",2024-04-24T03:34:53Z,Citizens Bank,news,21,EEUU

In [21]:
df_total = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)
df_total.head()

,Review,DS,Bank Name,data_source,Bank ID,state
0,Mere words cannot express the deep felt gratit...,04/18/2024 19:32:14,Chelsea Gronto Bank,facebook,2,EEUU
1,i came across Mrs. Jennifer when she appeared ...,03/22/2024 16:38:36,Chelsea Gronto Bank,facebook,2,EEUU
2,"Excellent Service""! Accountant is kind and ver...",01/07/2024 21:34:14,Chelsea Gronto Bank,facebook,2,EEUU
3,Good brokerage and trading platform. I love th...,10/29/2023 20:36:58,Chelsea Gronto Bank,facebook,2,EEUU
4,REGINA NATHAN is a TOP NOTCH investing compan...,09/20/2023 19:17:29,Chelsea Gronto Bank,facebook,2,EEUU

In [22]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15967 entries, 0 to 15966
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Review       11571 non-null  object
 1   DS           15776 non-null  object
 2   Bank Name    15967 non-null  object
 3   data_source  15967 non-null  object
 4   Bank ID      15967 non-null  int64
 5   state        15967 non-null  object
dtypes: int64(1), object(5)
memory usage: 748.6+ KB

In [23]:
df_total['Bank Name'].value_counts()

Bank Name
Fifth Third Bank       4436
Dime Bank              3180
First Horizon Bank     2948
Webster Bank           2644
Citizens Bank          2610
Chelsea Gronto Bank      50
Bankwell Bank            50
M&T Bank                 49
Name: count, dtype: int64

In [24]:
df_total.to_csv("data/data_raw_full_webster.csv",index=False)

### BOTO3

In [43]:
import boto3

In [44]:
#https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/comprehend.html
client = boto3.client('comprehend',
                      aws_access_key_id="AKIAXRL6AMEJR47P6JMY",
                      aws_secret_access_key="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",
                      region_name='us-east-1')

In [45]:
def analyze_sentiment(text):
    try:
        #https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/comprehend/client/detect_sentiment.html
        response = client.detect_sentiment(Text=text, LanguageCode='en')
        sentiment = response['Sentiment']
        return sentiment
    except Exception as e:
        print(f"Error al analizar el sentimiento: {e}")
        return None

In [223]:
sent = analyze_sentiment("Today Real Madrid played as a team, the midfield did its job and we have to keep looking for strikers.")
sent

'NEUTRAL'

In [224]:
def analyze_targeted_sentiment(text):
    try:
        #https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/comprehend/client/detect_targeted_sentiment.html
        response = client.detect_targeted_sentiment(Text=text, LanguageCode='en')
        entities = response['Entities']
        sentiment_results = []
        for entity in entities:
            for mention in entity['Mentions']:
                sentiment = mention['MentionSentiment']['Sentiment']
                text = mention['Text']
                sentiment_result = {
                    'Sentiment': sentiment,
                    'Text': text
                }
                sentiment_results.append(sentiment_result)
        return sentiment_results
    except Exception as e:
        print(f"Error al analizar el sentimiento: {e}")
        return None

In [225]:
sent = analyze_targeted_sentiment("Today Real Madrid played as a team, the midfield did its job and we have to keep looking for strikers.")
sent

[{'Sentiment': 'NEUTRAL', 'Text': 'Today'},
 {'Sentiment': 'NEUTRAL', 'Text': 'team'},
 {'Sentiment': 'NEUTRAL', 'Text': 'Real Madrid'},
 {'Sentiment': 'NEUTRAL', 'Text': 'we'},
 {'Sentiment': 'POSITIVE', 'Text': 'strikers'}]