In [1]:
import os
import pandas as pd

In [2]:
banks=['Bankwell Bank', 'Chelsea Gronto Bank', 'Dime Bank', 'Essex Savings Bank', 'Fairfield County Bank', 'First Bank of Greenwich', 'First County Bank', 'Guilford Savings Bank', 'Ion Bank', 'Jewett City Savings Bank', 'Liberty Bank', 'Milford Bank', 'Newtown Savings Bank', 'Northwest Community Bank', 'Savings Bank of Danbury', 'Stafford Savings Bank', 'Thomaston Savings Bank', 'Torrington Savings Bank', 'Union Savings Bank', 'M&T Bank', 'Citizens Bank', 'Fifth Third Bank','First Horizon Bank','Webster Bank']

In [5]:
import pandas as pd
from fuzzywuzzy import process

banks = ['Bankwell Bank', 'Chelsea Gronto Bank', 'Dime Bank', 'Essex Savings Bank',
         'Fairfield County Bank', 'First Bank of Greenwich', 'First County Bank',
         'Guilford Savings Bank', 'Ion Bank', 'Jewett City Savings Bank', 'Liberty Bank',
         'Milford Bank', 'Newtown Savings Bank', 'Northwest Community Bank',
         'Savings Bank of Danbury', 'Stafford Savings Bank', 'Thomaston Savings Bank',
         'Torrington Savings Bank', 'Union Savings Bank', 'M&T Bank', 'Citizens Bank',
         'Fifth Third Bank','First Horizon Bank','Webster Bank']

def find_closest_bank(filename, bank_list):
    potential_bank_name = filename.split('_')[1]
    closest_bank = process.extractOne(potential_bank_name, bank_list)[0]
    return closest_bank
def find_closest_bank_v2(filename, bank_list):
    closest_bank = process.extractOne(filename, bank_list)[0]
    return closest_bank
def find_closest_bank_v3(filename, bank_list):
    potential_bank_name = filename.split('-')[0]
    closest_bank = process.extractOne(potential_bank_name, bank_list)[0]
    return closest_bank

/opt/conda/lib/python3.10/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

## Google Maps

In [9]:
folder_path ='Proyect Webster/Google_Maps'
dfs = []

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        try:
            # Extrae el nombre del banco del nombre del archivo
            bank_name = filename.split('_')[0].replace('-', ' ')  # Reemplaza '-' con ' ' para el nombre del banco
            df = pd.read_csv(file_path)
            # Verifica si el archivo está vacío
            if df.empty:
                raise pd.errors.EmptyDataError(f"El archivo {filename} está vacío.")
            # Crea una nueva columna con el nombre del banco
            df['File Name']=filename
            df['Bank Name'] = df['File Name'].apply(lambda x: find_closest_bank_v2(x, banks))
#            df['Bank Name'] = bank_name
            dfs.append(df)
        except pd.errors.EmptyDataError:
            print(f"Archivo vacío: {filename}")
            continue  # Salta al siguiente archivo
df_concatenado = pd.concat(dfs, ignore_index=True)
df_concatenado.info()
df_concatenado.to_csv('data/google_maps_reviews_full_25_04_24.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15610 entries, 0 to 15609
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime       15610 non-null  object
 1   author_title   15610 non-null  object
 2   review_text    11238 non-null  object
 3   review_rating  15610 non-null  int64
 4   state          15610 non-null  object
 5   place_id       15610 non-null  object
 6   File Name      15610 non-null  object
 7   Bank Name      15610 non-null  object
dtypes: int64(1), object(7)
memory usage: 975.8+ KB

In [14]:
df_concatenado['Bank Name'].value_counts()

Bank Name
Fifth Third Bank      4372
Dime Bank             3170
First Horizon Bank    2932
Webster Bank          2602
Citizens Bank         2534
Name: count, dtype: int64

In [8]:
df

,datetime,author_title,review_text,review_rating,state,place_id,File Name,Bank Name
0,04/13/2023 20:47:14,larry golden,"This review is for Shannon Everett ""relationsh...",5,Colorado,ChIJfa0zRdWq54kRijhwwYe64XM,Webster_reviews.csv,Fairfield County Bank
1,04/16/2022 17:08:39,Jamal Chambers,My child (under 16) needed to cash a Webster c...,1,Colorado,ChIJfa0zRdWq54kRijhwwYe64XM,Webster_reviews.csv,Fairfield County Bank
2,07/20/2019 15:01:08,Cristina Ramirez,I have an account here and banking is fine. Bu...,3,Colorado,ChIJfa0zRdWq54kRijhwwYe64XM,Webster_reviews.csv,Fairfield County Bank
3,12/27/2021 15:19:36,Andy Russell,This Banks location is a nightmare you can lit...,5,Colorado,ChIJfa0zRdWq54kRijhwwYe64XM,Webster_reviews.csv,Fairfield County Bank
4,02/23/2021 18:50:05,The Tribe,There was money stolen from one of my family m...,1,Colorado,ChIJfa0zRdWq54kRijhwwYe64XM,Webster_reviews.csv,Fairfield County Bank
...,...,...,...,...,...,...,...,...
2597,08/25/2023 17:15:47,Teresa Reid,NaN,4,District of Columbia,ChIJjZDcf6xZwokRUosyCVqCKuw,Webster_reviews.csv,Fairfield County Bank
2598,06/03/2022 17:29:47,Mynor Escobar,NaN,5,District of Columbia,ChIJjZDcf6xZwokRUosyCVqCKuw,Webster_reviews.csv,Fairfield County Bank
2599,08/01/2018 19:42:25,Francklin Colimon,NaN,1,District of Columbia,ChIJjZDcf6xZwokRUosyCVqCKuw,Webster_reviews.csv,Fairfield County Bank
2600,10/25/2017 17:40:54,shavannah batson,NaN,5,District of Columbia,ChIJjZDcf6xZwokRUosyCVqCKuw,Webster_reviews.csv,Fairfield County Bank
2601,07/10/2016 16:10:44,Anthony Tapia,NaN,5,District of Columbia,ChIJjZDcf6xZwokRUosyCVqCKuw,Webster_reviews.csv,Fairfield County Bank

## Tweets

In [15]:
folder_path = 'Proyect Webster/Tweets'
dfs = []

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        try:
            bank_name = filename.split('_')[0].replace('-', ' ')  # Reemplaza '-' con ' ' para el nombre del banco
            df = pd.read_csv(file_path)
            if df.empty:
                raise pd.errors.EmptyDataError(f"El archivo {filename} está vacío.")
            # Crea una nueva columna con el nombre del banco
            df['File Name']=filename
            df['Bank Name'] = df['File Name'].apply(lambda x: find_closest_bank_v2(x, banks))
            #df['Bank Name'] = bank_name
            dfs.append(df)
        except pd.errors.EmptyDataError:
            print(f"Archivo vacío: {filename}")
            continue  # Salta al siguiente archivo

df_concatenado = pd.concat(dfs, ignore_index=True)
df_concatenado.info()
df_concatenado.to_csv('data/x_reviews_full_25_04_24.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  0 non-null      float64
 1   text        167 non-null    object
 2   File Name   167 non-null    object
 3   Bank Name   167 non-null    object
dtypes: float64(1), object(3)
memory usage: 5.3+ KB

In [16]:
df_concatenado['Bank Name'].value_counts()

Bank Name
Citizens Bank         50
Fifth Third Bank      50
Bankwell Bank         50
Webster Bank          12
First Horizon Bank     5
Name: count, dtype: int64

## Facebook

In [17]:
folder_path = 'Proyect Webster/Facebook'
dfs = []

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        try:
            # Extrae el nombre del banco del nombre del archivo
            bank_name = filename.split('_')[0].replace('-', ' ')  # Reemplaza '-' con ' ' para el nombre del banco
            df = pd.read_csv(file_path)
            # Verifica si el archivo está vacío
            if df.empty:
                raise pd.errors.EmptyDataError(f"El archivo {filename} está vacío.")
            # Crea una nueva columna con el nombre del banco
            df['page_name']=filename
            df['Bank Name'] = df['page_name'].apply(lambda x: find_closest_bank_v2(x, banks))
            #df['Bank Name'] = bank_name
            dfs.append(df)
        except pd.errors.EmptyDataError:
            print(f"Archivo vacío: {filename}")
            continue  # Salta al siguiente archivo

df_concatenado = pd.concat(dfs, ignore_index=True)
df_concatenado.info()
df_concatenado.to_csv('data/facebook_reviews_full_25_04_24.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   query                55 non-null     object
 1   page_url             50 non-null     object
 2   page_name            55 non-null     object
 3   page_rating          50 non-null     float64
 4   page_reviews_count   50 non-null     float64
 5   author_link          42 non-null     object
 6   author_title         50 non-null     object
 7   author_id            50 non-null     object
 8   author_image         50 non-null     object
 9   author_recommends    50 non-null     object
 10  review_text          50 non-null     object
 11  review_link          50 non-null     object
 12  review_datetime_utc  50 non-null     object
 13  review_timestamp     50 non-null     float64
 14  review_id            55 non-null     object
 15  Bank Name            55 non-null     object
dtypes: float64(3), object(13)
memory usage: 7.0+ KB

In [18]:
df_concatenado['Bank Name'].value_counts()

Bank Name
Chelsea Gronto Bank    50
Fifth Third Bank        1
First Horizon Bank      1
Citizens Bank           1
Webster Bank            1
M&T Bank                1
Name: count, dtype: int64

## Yelp

In [19]:
folder_path = 'Proyect Webster/Yelp'
dfs = []

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        try:
            # Extrae el nombre del banco del nombre del archivo
            bank_name = filename.split('-')[0].replace('-', ' ')  # Reemplaza '-' con ' ' para el nombre del banco
            df = pd.read_csv(file_path)
            # Verifica si el archivo está vacío
            if df.empty:
                raise pd.errors.EmptyDataError(f"El archivo {filename} está vacío.")
            # Crea una nueva columna con el nombre del banco
            df['page_name']=filename
            df['Bank Name'] = df['page_name'].apply(lambda x: find_closest_bank_v3(x, banks))
            #df['Bank Name'] = bank_name
            dfs.append(df)
        except pd.errors.EmptyDataError:
            print(f"Archivo vacío: {filename}")
            continue  # Salta al siguiente archivo

df_concatenado = pd.concat(dfs, ignore_index=True)
df_concatenado.info()
df_concatenado.to_csv('data/yelp_reviews_full_25_04_24.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   query                     85 non-null     object
 1   review_id                 85 non-null     object
 2   page_name                 85 non-null     object
 3   Bank Name                 85 non-null     object
 4   business_name             66 non-null     object
 5   review_rating             66 non-null     float64
 6   review_text               66 non-null     object
 7   review_photos             66 non-null     object
 8   review_tags               66 non-null     object
 9   datetime_utc              66 non-null     object
 10  timestamp                 66 non-null     float64
 11  author_title              66 non-null     object
 12  author_friend_count       66 non-null     float64
 13  author_photo_count        66 non-null     float64
 14  author_reviews_count      66 non-null     float64
 15  author_location           66 non-null     object
 16  author_image              31 non-null     object
 17  author_id                 66 non-null     object
 18  author_url                66 non-null     object
 19  owner_reply               0 non-null      float64
 20  owner_reply_title         0 non-null      float64
 21  owner_reply_datetime_utc  0 non-null      float64
 22  owner_reply_timestamp     0 non-null      float64
 23  next_page_cursor          0 non-null      float64
dtypes: float64(10), object(14)
memory usage: 16.1+ KB

In [20]:
df_concatenado['Bank Name'].value_counts()

Bank Name
M&T Bank            48
Webster Bank        19
Citizens Bank       15
Fifth Third Bank     3
Name: count, dtype: int64

## nNEWS

In [21]:
folder_path = 'Proyect Webster/News'
dfs = []

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        try:
            # Extrae el nombre del banco del nombre del archivo
            bank_name = filename.split('-')[0].replace('-', ' ')  # Reemplaza '-' con ' ' para el nombre del banco
            df = pd.read_csv(file_path)
            # Verifica si el archivo está vacío
            if df.empty:
                raise pd.errors.EmptyDataError(f"El archivo {filename} está vacío.")
            # Crea una nueva columna con el nombre del banco
            df['page_name']=filename
            df['Bank Name'] = df['page_name'].apply(lambda x: find_closest_bank_v3(x, banks))
            #df['Bank Name'] = bank_name
            dfs.append(df)
        except pd.errors.EmptyDataError:
            print(f"Archivo vacío: {filename}")
            continue  # Salta al siguiente archivo

df_concatenado = pd.concat(dfs, ignore_index=True)
df_concatenado.info()
df_concatenado.to_csv('data/banks_news_reviews_full_25_04_24.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   author            50 non-null     object
 1   body              50 non-null     object
 2   categories        50 non-null     object
 3   industries        45 non-null     object
 4   characters_count  50 non-null     int64
 5   clusters          47 non-null     object
 6   entities          50 non-null     object
 7   hashtags          50 non-null     object
 8   id                50 non-null     int64
 9   keywords          50 non-null     object
 10  language          50 non-null     object
 11  links             50 non-null     object
 12  paragraphs_count  50 non-null     int64
 13  published_at      50 non-null     object
 14  sentences_count   50 non-null     int64
 15  sentiment         50 non-null     object
 16  source            50 non-null     object
 17  summary           50 non-null     object
 18  title             50 non-null     object
 19  words_count       50 non-null     int64
 20  license_type      50 non-null     int64
 21  media             18 non-null     object
 22  page_name         50 non-null     object
 23  Bank Name         50 non-null     object
dtypes: int64(6), object(18)
memory usage: 9.5+ KB

In [22]:
df_concatenado['Bank Name'].value_counts()

Bank Name
Citizens Bank         10
Fifth Third Bank      10
First Horizon Bank    10
Dime Bank             10
Webster Bank          10
Name: count, dtype: int64