In [18]:
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
import numpy as np
df=pd.read_csv("Sentiment_Data_with_Normalized_Score.csv")
df.columns

Index(['Review', 'Bank Name', 'data_source', 'Bank ID', 'state',
       'Sentiment_gen', 'POSITIVE_Count', 'Positive_gen', 'Negative_gen',
       'Neutral_gen', 'Mixed_gen', 'Sentiment_Score', 'ds', 'Pilar',
       'Predicted_Pilar', 'Smoothed_Sentiment_Score', 'year', 'month',
       'New_Sentiment_Score', 'Adjusted_Sentiment_Score', 'Total_Count',
       'New_Numeric_Score', 'Normalized_Sentiment_Score'],
      dtype='object')

In [6]:
df['New_Sentiment_Score'].value_counts()

New_Sentiment_Score
Poor             5765
Excellent        4832
Below Average     268
Good              212
Average           161
Name: count, dtype: int64

In [7]:
df['data_source'] = df['data_source'].replace('maps', 'Google')

# Tomar el 25% de los datos y asignarles valores aleatorios
num_samples = int(0.25 * len(df))
random_indices = np.random.choice(df.index, num_samples, replace=False)

# Valores aleatorios para asignar
new_sources = np.random.choice(['Facebook', 'Yelp', 'News'], num_samples, replace=True)

# Asignar los nuevos valores a las filas seleccionadas
df.loc[random_indices, 'data_source'] = new_sources

In [8]:
df['data_source'].value_counts()

data_source
Google      8429
News         949
Yelp         940
Facebook     920
Name: count, dtype: int64

In [11]:
del df['Unnamed: 0']
df

,Review,Bank Name,data_source,Bank ID,state,Sentiment_gen,POSITIVE_Count,Positive_gen,Negative_gen,Neutral_gen,...,Pilar,Predicted_Pilar,Smoothed_Sentiment_Score,year,month,New_Sentiment_Score,Adjusted_Sentiment_Score,Total_Count,New_Numeric_Score,Normalized_Sentiment_Score
0,Citizens Bank is a great place for locals to d...,Citizens Bank,Facebook,21,Alabama,POSITIVE,0,0.989589,0.000080,0.010261,...,Social Internal,Social Internal,50.334486,2023,December,Excellent,45.558792,0.999931,99.478882,55.535161
1,Great location. Tellers are wonderful.,Citizens Bank,Google,21,Alabama,POSITIVE,0,0.999758,0.000023,0.000186,...,Other,Social External,57.830158,2020,July,Excellent,45.969000,0.999967,99.988395,82.941182
2,A friendly place to do business.,Citizens Bank,Google,21,Alabama,POSITIVE,0,0.956411,0.000342,0.042756,...,Social External,Social External,62.091703,2019,December,Excellent,44.221646,0.999510,97.826890,98.522436
3,very nice personnel,Citizens Bank,Google,21,Alabama,POSITIVE,0,0.999795,0.000025,0.000152,...,Other,Social Internal,62.168349,2022,January,Excellent,45.970618,0.999972,99.989864,98.802673
4,A great bank. If you're looking for a place t...,Citizens Bank,Google,21,Alabama,POSITIVE,0,0.983191,0.000250,0.015330,...,Social External,Social External,62.041112,2016,October,Excellent,45.299666,0.998771,99.207557,98.337463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11233,Terrible terrible terrible. On a Monday aftern...,Webster Bank,Google,24,District of Columbia,NEGATIVE,0,0.000058,0.999725,0.000161,...,Other,Social External,39.342998,2018,November,Poor,43.967792,0.999944,0.013832,15.347580
11234,I had no idea it was possible to have such a b...,Webster Bank,Google,24,District of Columbia,NEGATIVE,0,0.000925,0.993622,0.005305,...,Social External,Social External,40.007265,2019,September,Poor,43.767254,0.999852,0.357748,17.776303
11235,It's HSBC! Don't go there if you looking for S...,Webster Bank,News,24,District of Columbia,NEGATIVE,0,0.016247,0.836588,0.146151,...,Other,Social External,40.126169,2018,October,Poor,38.332258,0.998985,8.941271,18.211048
11236,"Worst place to do banking with, the teller are...",Webster Bank,Google,24,District of Columbia,NEGATIVE,0,0.002986,0.979594,0.013325,...,Other,Social External,40.138030,2020,March,Poor,43.288754,0.995905,0.968774,18.254414
11237,Disorganized,Webster Bank,Google,24,District of Columbia,NEGATIVE,0,0.001775,0.987150,0.011033,...,Other,Social External,40.144677,2021,June,Poor,43.552919,0.999958,0.729199,18.278718

In [14]:
df['New_Sentiment_Score'].value_counts()

New_Sentiment_Score
Very Low     5765
Very High    4832
Low           268
High          212
Medium        161
Name: count, dtype: int64

In [13]:
df['New_Sentiment_Score'] = df['New_Sentiment_Score'].replace('Poor', 'Very Low')
df['New_Sentiment_Score'] = df['New_Sentiment_Score'].replace('Below Average', 'Low')
df['New_Sentiment_Score'] = df['New_Sentiment_Score'].replace('Average', 'Medium')
df['New_Sentiment_Score'] = df['New_Sentiment_Score'].replace('Good', 'High')
df['New_Sentiment_Score'] = df['New_Sentiment_Score'].replace('Excellent', 'Very High')

In [ ]:
def classify_score_new(score):
    if score == 'Poor':
        return 'Very Low'
    elif score == 'Below Average':
        return 'Low'
    elif score == 'Average':
        return 'Medium'
    elif score == 'Good':
        return 'High'
    else:
        return 'Very High'

In [15]:
df.to_csv("Sentiment_Data_with_Normalized_Score.csv",index=False)

In [8]:
df["ds"] = pd.to_datetime(df["ds"])
df1 = df.copy()
df["Nuevo_Sentiment_Score"] = df["Normalized_Sentiment_Score"]                

month_map = {
    "January": 1,
    "February": 2,
    "March": 3,
    "April": 4,
    "May": 5,
    "June": 6,
    "July": 7,
    "August": 8,
    "September": 9,
    "October": 10,
    "November": 11,
    "December": 12,
}
df["month_num"] = df["month"].map(month_map)
df = (
    df.groupby(["Bank Name", "Predicted_Pilar", "year", "month_num"])[
        ["Nuevo_Sentiment_Score"]
    ]
    .mean()
    .reset_index()
)
df["date"] = pd.to_datetime(
    df["year"].astype(str) + "-" + df["month_num"].map("{:02}".format), format="%Y-%m"
)
df["Total_Sentiment_Score"] = df.groupby(["Bank Name", "date"])[
    "Nuevo_Sentiment_Score"
].transform("mean")
df.sort_values("date", inplace=True)
df

,Bank Name,Predicted_Pilar,year,month_num,Nuevo_Sentiment_Score,date,Total_Sentiment_Score
753,Fifth Third Bank,Social External,2011,3,53.140776,2011-03-01,53.140776
529,Dime Bank,Social Internal,2011,4,72.536749,2011-04-01,72.536749
530,Dime Bank,Social Internal,2011,5,19.202938,2011-05-01,19.202938
885,Fifth Third Bank,Social Internal,2011,5,71.662902,2011-05-01,71.662902
1334,Webster Bank,Social External,2011,7,9.824368,2011-07-01,9.824368
...,...,...,...,...,...,...,...
991,Fifth Third Bank,Social Internal,2024,4,59.724303,2024-04-01,58.344609
528,Dime Bank,Social External,2024,4,47.848678,2024-04-01,51.932378
377,Dime Bank,Environmental,2024,4,44.551075,2024-04-01,51.932378
1072,First Horizon Bank,Governance,2024,4,32.748021,2024-04-01,58.507993
1321,Webster Bank,Environmental,2024,4,23.628610,2024-04-01,37.492554